<ion-view title="Golden Gate Bridge" id="page7">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/SIxeMX4Qu6NayUPnWpf6_GoldenGateBridge-001.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="goldenGateBridge-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">This part of the tour requires no money, but good luck finding parking! The Golden Gate Bridge is an iconic structure connecting the city of that spans almost two miles across the Golden Gate, the narrow strait where San Francisco Bay opens to meet
        the Pacific Ocean. The Golden Gate Bridge, opened to the public in 1937, has endured as a picture-perfect landmark and an engineering marvel.</p>
    </div>
  </ion-content>
</ion-view>