<ion-view title="Login" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="login-form2" class="list">
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input1" name="Enter Password Here">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Enter Email Here">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Enter Password Here">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="urbanAdventurer()" id="login-button3" class="button button-balanced button-block">Log in</a>
      <a ui-sref="signup()" id="login-button4" class="button button-balanced button-block button-clear">Create an account</a>
    </form>
  </ion-content>
</ion-view>