<ion-view title="San Francisco" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="sanFrancisco-list1">
      <ion-item class="item-thumbnail-left" id="sanFrancisco-list-item1" ui-sref="timSTurbulentTrek()">
        <img src="img/wsxJS6fRSAP4Le4i3xFN_golden_gate_bridge.jpg">
        <h2>Tim's Turbulent Trek</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="sanFrancisco-list-item2">
        <img src="img/Xv1jRtYTTUWSfoeSHmzo_SFWMOHLobbySouth.jpg">
        <h2>Steven's Super Scenery</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="sanFrancisco-list-item3">
        <img src="img/WshN2PO1QUSyHhozCXK3_redwood_forst.jpg">
        <h2>Nitish's Nice Nature</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="sanFrancisco-list-item4">
        <img src="img/QcedKFSZQ3GXEBWweA3X_alcatraz.jpg">
        <h2>Chris's Chill Cruise</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>