<ion-view title="Tim's Turbulent Trek  " id="page5">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/IkuUIxzBSfaevO4ttg83_san-francisco-attractions-map-small.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="timSTurbulentTrek-list4">
      <ion-item class="item-icon-left" id="timSTurbulentTrek-list-item5" ui-sref="goldenGateBridge()">
        <i class="icon ion-ios-world"></i>Golden Gate | 1-2 PM</ion-item>
      <ion-item class="item-icon-left" id="timSTurbulentTrek-list-item6">
        <i class="icon ion-ios-world"></i>Fisherman's Wharf | 2-4 PM</ion-item>
      <ion-item class="item-icon-left" id="timSTurbulentTrek-list-item9">
        <i class="icon ion-ios-world"></i>Ghiradelli Square | 4-6 PM</ion-item>
      <ion-item class="item-icon-left" id="timSTurbulentTrek-list-item10">
        <i class="icon ion-ios-world"></i>Alcatraz | 6-7 PM</ion-item>
      <ion-item class="item-icon-left" id="timSTurbulentTrek-list-item11">
        <i class="icon ion-ios-world"></i>Chinatown | 7-8 PM</ion-item>
    </ion-list>
  </ion-content>
</ion-view>