<ion-view title="UrbanAdventurer" id="page1">
  <ion-content padding="true" class="has-header">
    <form id="urbanAdventurer-form1" class="list">
      <label class="item item-input" id="urbanAdventurer-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Input Location Here">
      </label>
    </form>
    <a ui-sref="sanFrancisco()" id="urbanAdventurer-button2" class="button button-balanced button-block">Adventure!</a>
  </ion-content>
</ion-view>